@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.register {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sync__header {
  font-family: 'Unbounded', cursive;
  font-size: 50px;
  color: #1976d2;
  text-align: center;
}

.body__text {
  font-family: 'Work Sans', sans-serif;
  font-size: 15px;
  color: #404040;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
}

.input__field {
  margin-top: 15px;
  min-width: 40vh;
  max-width: 80vh;
}

.button {
  margin-top: 15px;
}

.login__link {
  text-align: center;
  margin-top: 20px;
  font-size: 15px;
}

.radio__occupation {
  margin-top: 20px;
}