@import '_settings.scss';

body {
  margin: 0;
  font-family: 'Work Sans', sans-serif;
  font-size: 14px;
  line-height: 1.3em;
}

.Dashboard {
  height: 100vh;
  display: grid;
  grid-template-rows: 40px 50px 1fr;
  line-height: 1.3em;
  background-color: $board-bg-color;
}