@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200;300;400;500;600;700;800;900&display=swap');

.sync__header {
  font-family: 'Unbounded', cursive;
  font-size: 50px;
  color: #1976d2;
  text-align: center;
}