.BoardContent {
  display: flex;
  margin: 0 10px 10px;
  overflow-x: auto;
  &::-webkit-scrollbar {
    -webkit-appearance: none;
  }

  &::-webkit-scrollbar:horizontal {
    height: 11px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #ffffff;
    border-radius: 5px;
  }
}