@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$gap: 10px;

// Colours
$board-bg-color: #ADD8E6;
$common-element-bg: rgba(255, 255, 255, .24);

// Screen
$screen-lg: 1210px;
$screen-md: 992px;
$screen-sm: 768px;
$screen-phone: 480px;
$screen-ip6-down: '(max-width: 375px)';