@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$gap: 10px;
$board-bg-color: #ADD8E6;
$navbarapp-bg-color: white;

body {
  margin: 0;
  font-family: 'Work Sans', sans-serif;
  font-size: 14px;
  line-height: 1.3em;
}

.Dashboard {
  height: 100vh;
  display: grid;
  grid-template-rows: 40px 50px 1fr;
  line-height: 1.3em;
  background-color: $board-bg-color;

  .NavBar {
    padding-left: $gap;
    display: flex;
    align-items: center;

    &.App {
      background-color: $navbarapp-bg-color;
      font-size: 1.5rem;
    }

    &.Board {
      background-color: $board-bg-color;
      font-size: 1.1rem;
    }
  }

  .BoardColumns {
    display: flex;
    overflow-x: auto;

    .Column {
      flex: 0 0 auto;
      width: 300px;
      height: calc(100% - #{$gap});
    }
  }
}